.front-page {
  .site-logo {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    .logo {
      width: 300px;
    }
  }
}

.bg-stone {
  // background-image: url("media/images/bg-stone.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
  height: 100%;
  background-color: black;
}

.relative {
  position: relative;
}