button, .button, .button.contact-button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	color: $color__text-main;
	border: 1px solid #24282a;
	border-radius: 0px;
	padding: 10px 20px;
	background-color: transparent;


	&:hover {
		color: $color__light;
		background-color: $color__black;
	}

	&:active,
	&:focus {
		color:  #24282a;
	}
}

.place-order {
	.button {
		background-color: $color__black;
		color: $color__light;
		width: 100%;
	}
}